.facility{
    margin-bottom: 160px;
}
.facility_inner{
    display: flex;
    align-items: center;
    gap: 30px;
}
.facility_img, .facility_description{
    width: 50%;
}
.facility_img img {
    height: 550px;
    border-radius: 10px;
}
.facility_description h1 {
    font-size: 40px;
    font-weight: 600;
    color: #3a4256;
    margin-bottom: 30px;
}
.facility_description p {
    color: #b4b4b4;
    line-height: 30px;
    margin-bottom: 30px;
}
.facility_description button{
    background: linear-gradient(to right, #19d3b0, #10d0ea);
    border: none;
    font-size: 14px;
    font-family: 'Poppins';
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 600;
}